@import "../../../../utils//variables.scss";

.file {
    margin: 10px 0;
    border-bottom: solid 2px $font-color;
    display: grid;
    grid-template-columns: 1fr 4fr repeat(4, 1fr);
    align-items: center;

    &:hover {
        // transform: scale(1.02);
        background-color: rgb(213, 213, 213);
        transition: all 0.3s ease 0s;
    }
}
.img {
    justify-self: center;
}
.name {
    grid-column-start: 2;
}
.date {
    grid-column-start: 5;
    justify-self: center;
}
.size {
    grid-column-start: 6;
    justify-self: center;
}
.btn{
    display: none;
}
.delete{
    // background-color: darkkhaki;
}
.file:hover .date{
    grid-column-start: 3;
}
.file:hover .size{
    grid-column-start: 4;
}
.file:hover .download{
    grid-column-start: 5;
    display: block;
}
.file:hover .delete{
    grid-column-start: 6;
    display: block;
}

.plate{
    &_file{
        width: 150px;
        height: 150px;
        cursor: pointer;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    &_img{
        width: 100px;
        height: 100px;
    }
    &_btns{
        display: none;
    }
    &_file:hover &_btns{
        display: flex;
    }
}
