.fileList {
    margin: 20px 0;
}
.header {
    display: grid;
    grid-template-columns: 1fr 4fr repeat(4, 1fr); // repeat - повторяет 4 колонки по одной фракции
}
.name {
    grid-column-start: 2;
}
.date {
    grid-column-start: 5;
    justify-self: center;
}
.size {
    grid-column-start: 6;
    justify-self: center;
}
.ff{
    background-color: teal;
}
// //////////////////////////////////

// ////////////-------------//////////////////

// .file-enter {
//     opacity: 0;
//     transform: scale(0.9);
//   }
//   .file-enter-active {
//     opacity: 1;
//     transform: translateX(0);
//     transition: opacity 300ms, transform 300ms;
//   }
//   .file-exit {
//     opacity: 1;
//   }
//   .file-exit-active {
//     opacity: 0;
//     transform: scale(0.9);
//     transition: opacity 300ms, transform 300ms;
//   }
