.fileList {
    margin: 20px 0;
}
.header {
    display: grid;
    grid-template-columns: 1fr 4fr repeat(4, 1fr); // repeat - повторяет 4 колонки по одной фракции
}
.name {
    grid-column-start: 2;
}
.date {
    grid-column-start: 5;
    justify-self: center;
}
.size {
    grid-column-start: 6;
    justify-self: center;
}
.ff {
    background-color: teal;
}

.noFiles {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: calc(100vh - 100px);
}

.filePlate{
    display: flex;
    flex-wrap: wrap;
    margin: 20px 0;
}
