@import "../../utils/variables.scss";

.disk {
    margin-top: 20px;
    width: 100%;
}
.btns {
    display: flex;
}
.back {
}
.create {
    margin-left: 10px;
}
.input {
    display: none;
}
.label {
    border: 2px dashed $font-color;
    padding: 5px 10px;
    cursor: pointer;
    margin-left: 10px;
}
.dropArea {
    width: 100%;
    height: calc(100vh - 50px - 40px);
    margin: 20px;
    border: dashed $font-color 2px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 40px;
}
